// fonts
$crimson: 'Crimson Text', serif;
$josefin: 'Josefin Sans', sans-serif;

// colours
$black:#000;
$white:#fff;
$pink:#FAE2E2;
$darkpink:#F68C9D;
$lightgrey:#F2F2F2;
$darkgrey:#D7D7D7;
$red:#ed879f;
$yellow: #ffe022;