@import 'setup';
@import 'variables';
@import 'partials/header';
@import 'partials/about';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans');

body {
	cursor:crosshair;
	height:9000px;
}

.about-wrapper {
	padding:157px 138px;
	.about-content {
		margin:0 auto;
		max-width:975px;
		text-align: center;
		.about-header, .about-bg {
			font-family: $josefin;
		}
		.about-header.small {
			font-size:16px;
			color:$darkpink;
			text-transform: uppercase;
			line-height: 24px;
		}
		.about-header.big {
			font-size:30px;
			color:$black;
			text-transform: uppercase;
			line-height: 36px;
			letter-spacing: 10px;
		}
		.about-bg {
			font-size: 16px;
			line-height: 18px;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 2px;
			background-color:$black;
			padding:10px 60px 8px;
			span.f {
				position:relative;
				&:before {
					content: "";
					position: absolute;
					background: $black;
					height: 3px;
					width: 100px;
					left: -120px;
					top: 40%;
				}
			}
			span.r {
				position: relative;
				&:before {
					content: "";
					position: absolute;
					background: $black;
					height: 3px;
					width: 100px;
					right: -120px;
					top: 40%;
				}
			}
		}
		.about-text {
			color: $black;
			font-size: 16px;
			line-height: 24px;
			font-family: $crimson;
			max-width: 90%;
			&:first-of-type {
				margin-top: 40px;
			}
		}
	}
	.about-images-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 90px;
		.about-image {
			width: 110px;
			height:110px;
			margin:0 2px;
			background-repeat:no-repeat;
			background-position:center center;
			transition:all 0.8s ease-out;
			position: relative;
			&:after {
				color:transparent;
				font-size: 20px;
				font-weight: 200;
				transition:all 0.5s ease-in;
				position: absolute;
				top: 20%;
				left: 50%;
				transform:translate(-50%);
			}
			&:hover {
				width:130px;
				height: 130px;
				background-image:unset !important;
				background-color:$black;
				&:after {
					color: $white;
				}
			}
			&:first-of-type {
				background-image:url('../../assets/icon-1.jpg');
				&:after {
					content:"toronto based";
				}
			}
			&:nth-child(2) {
				background-image:url('../../assets/icon-2.jpg');
				&:after {
					content:"loves cats";
				}
			}
			&:nth-child(3) {
				background-image:url('../../assets/icon-3.jpg');
				&:after {
					content:"lover of health fads";
				}
			}
			&:nth-child(4) {
				background-image:url('../../assets/icon-4.jpg');
				&:after {
					content:"<3's coding";
				}
			}
			&:nth-child(5) {
				background-image:url('../../assets/icon-5.jpg');
				&:after {
					content:"wants to become full stack...eventually";
					font-size: 15px;
				}
			}
			&:nth-child(6) {
				background-image:url('../../assets/icon-6.jpg');
				&:after {
					content:"plant lover";
				}
			}
			&:nth-child(7) {
				background-image:url('../../assets/icon-7.jpg');
				&:after {
					content:"passionate, hardworking, and love learning";
				}
			}
			&:nth-child(2), &:nth-child(4), &:nth-child(6) {
				background-size: cover;
			}
			&:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7) {
				background-size: contain;
			}
		}
	}
}

header {
	height:100vh;
	background: rgb(250,226,226);
	background: linear-gradient(50deg, $pink 55%, $lightgrey 50%);
	position:relative; 
	.header-nav {
		display: flex;
		flex-direction:row;
		justify-content:space-evenly;
		padding:20px 0 100px;
		margin-bottom: 50px;
		.right {
			.logo-wrapper {
				display: flex;
			    flex-direction: row;
			    justify-content: center;
			    position: relative;
			    .logo-letter {
			    	position: absolute;
		    	    top: 15%;
		    	    font-size: 34px;
		    	    font-weight: 400;
			    }
			    .logo-circle {
			    	width:70px;
			    	height:70px;
			    }
			}
		}
		.left {
			display: flex;
			justify-content: flex-end;
			.menu-btn {
				background-color: unset;
				color:$black;
				font-size:14px;
				text-transform: uppercase;
				border:none;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items:center;
				p {
					margin-bottom: 0;
				}
				&:hover {
					cursor:crosshair;
				}
				&:after {
					content:unset;
				}
				&:focus {
					outline: none;
					box-shadow:none;
				}
			}
			span {
				width:30px;
				height:30px;
				margin-left: 10px;
			}
			.dropdown-menu {
				background-color:$pink;
				border:unset;
				transform:translate3d(645px, 50px, 0px) !important;
				a.dropdown-item {
					font-family: $josefin;
					font-size: 20px;
					color: $black;
					text-transform:uppercase;
					letter-spacing: 0.5px;
					&:hover {
						background-color:$lightgrey;
						cursor:crosshair;
					}
				}
			}
		}
	}
	.scroll {
		position: absolute;
		transform:rotate(90deg);
		right:0;
		bottom:160px;
		p {
			color: $black;
			font-size:20px;
			&:after {
				content:"";
				width:100px;
				height:2px;
				background-color:$black;
				position: absolute;
				top: 35%;
				right: -140%;
			}
		} 
	}
	.header-image {
		background-image:url('../../assets/header-image.jpg');
		background-repeat: no-repeat;
		width: 850px;
		height: 600px;
	    background-attachment: fixed;
	    margin: 0 auto;
	    position: relative;
	    transition:all 1s;
	    h1 {
	    	position: absolute;
	    	top: -22%;
	    	left: 0%;
    	    font-size: 50px;
    	    width: 60%;
    	    font-weight: 200;
    	    margin: 0 auto;
    	    transition:all 1s;
    	    &:before {
    	    	content: "";
	    	    position: absolute;
	    	    background-color: black;
	    	    width: 100px;
	    	    height: 5px;
	    	    left: -110px;
	    	    top: 26%;
    	    }
	    }
	}
}

