@import 'setup';
@import 'variables';
@import 'partials/header';
@import 'partials/about';
@import 'partials/services';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Crimson+Text');

@-webkit-keyframes expand {
    0% { right: 0;}
    50%{ right: 50%;}
    100%{ right: 100;}
}

@-webkit-keyframes nod {
	0%{ transform: rotate(0); }
	50%{ transform: rotate(30deg); }
	100%{ transform: rotate(-30deg); }
}

//   -webkit-animation: expand 5s infinite; /* Safari 4.0 - 8.0 */
//   animation: nod 5s infinite;

body {
	cursor:crosshair;
	font-family: $josefin;
	font-weight: 300;
}

.services-wrapper {
	padding:50px 0;
	.services {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-width: 1400px;
		margin: 0 auto;
		.left {
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			background-image:url('../../assets/services-bg.jpg');
			min-height: 656px;
    		max-width: 700px;
			.services-title {
				font-size: 18px;
				color: $black;
				font-family: $josefin;
				text-transform: uppercase;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 200px;
				height: 140px;
				background-color:$white;
				display: flex;
				justify-content: center;
				align-items: center;
				letter-spacing: 1.5px;
				&:after {
					content: "";
					width: 70px;
					height: 2px;
					background-color: $black;
					color: $black;
					position: absolute;
					bottom:38px;
				}
			}
		}
		.right {
			.service-item {
				display:flex;
				flex-direction: row;
				align-items: center;
				margin:50px 65px;
				.icon-wrapper {
					margin-right: 20px;
					border: 1px solid $red;
					padding: 20px;
					.fas {
						font-size: 25px;
					}
				}
				.service-name {
					h2 {
						font-family: $josefin;
						font-size: 24px;
						color: $black;
						font-weight: 300;
					}
				}
			}
		}
	}
}

.skills-section {
	padding: 50px 0;
    background:$pink;
    max-width: 1390px;
    width: 100%;
    margin: 50px auto 0;
	.skills-wrapper {
		margin: 0 auto;
		max-width: 1390px;
		width:100%;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		h2 {
			font-size: 18px;
			color: $black;
			font-family: $josefin;
			text-transform: uppercase;
			position: absolute;
			right:140px;
			width: 200px;
			height: 140px;
			background-color:$white;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			letter-spacing: 1.5px;
			&:after {
				content: "";
				width: 70px;
				height: 2px;
				background-color: $black;
				color: $black;
				position: absolute;
				bottom:38px;
			}
		}
		.skill-col {
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
			padding:0;
			&.animate {
				position: absolute;
				right: 250px;
				top: 66%;
				animation: nod 5s infinite;
				padding:0;
			}
			.skill-item {
				flex: 0 0 auto;
				width: 170px;
				height: 170px;
				background-color: $white;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				border-radius: 50%;
				padding-top:2%;
				border:none;
				margin:20px;
				text-align: center;
				p {
					margin: 10px 0 0px;
				}
				&.animated {
					animation: nod 4s ease;
				}
				span {
					height:70px;
					img {
						width: 70px;
						height: 70px;
					}
				}
			}
		}
	}
}

.about-wrapper {
	padding:50px 0;
	.about-content {
		margin:0 auto;
		max-width:975px;
		text-align: center;
		.about-header, .about-bg {
			font-family: $josefin;
		}
		.about-header.small {
			font-size:16px;
			color:$darkpink;
			text-transform: uppercase;
			line-height: 24px;
			margin-right:10px;
		}
		.about-header.big {
			font-size:30px;
			color:$black;
			text-transform: uppercase;
			line-height: 36px;
			letter-spacing: 10px;
		}
		.about-bg {
			font-size: 16px;
			line-height: 18px;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 2px;
			background-color:$black;
			padding:10px 60px 8px;
			span.f {
				position:relative;
				&:before {
					content: "";
					position: absolute;
					background: $black;
					height: 3px;
					width: 100px;
					left: -120px;
					top: 40%;
				}
			}
			span.r {
				position: relative;
				&:before {
					content: "";
					position: absolute;
					background: $black;
					height: 3px;
					width: 100px;
					right: -120px;
					top: 40%;
				}
			}
		}
		.about-me {
			margin: 0 auto;
			padding:0;
			.about-text {
				color: $black;
				font-size: 16px;
				line-height: 24px;
				font-family: $josefin;
				margin: 0 auto;
				&:first-of-type {
					margin-top: 40px;
					margin-bottom: 20px;
				}
			}
		}
	}
	.about-social-container {
		padding: 50px 0;
		background: $pink;
		max-width: 1390px;
		width:100%;
		margin:50px auto 0;
		display: flex;
		flex-direction:row;
		justify-content: center;
		transition:all 2s !important;
		.social-container {
			display: flex;
			justify-content: center;
			align-content: center;
			transition:all 2s !important;
			.fab {
				color: $black;
				font-size: 45px;
			}
			a {
				background-color: $white;
				width: 110px;
				border-radius: 50%;
				height: 110px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover {
					text-decoration: none;
				}
			}
			span {
				position: absolute;
				background-color: transparent;
				padding:0;
				font-size: 0;
				transition:all 1s;
				color: $black;
				border:$black;
			}
			&:hover {
				span{
					position: absolute;
					background-color: $white;
					padding: 10px 30px;
					font-size: 20px;
					border: 1px solid $black;
					top: 30%;
					color: $black;
				}
			}
		}
	}
}

header {
	height:100vh;
	background: rgb(250,226,226);
	background: linear-gradient(50deg, $pink 55%, $lightgrey 50%);
	position:relative; 
	.header-nav {
		display: flex;
		flex-direction:row;
		justify-content:space-evenly;
		padding:20px 0 100px;
		margin-bottom: 50px;
		.right {
			.logo-wrapper {
				display: flex;
			    flex-direction: row;
			    justify-content: center;
			    position: relative;
			    .logo-letter {
			    	position: absolute;
		    	    top: 15%;
		    	    font-size: 34px;
		    	    font-weight: 400;
			    }
			    .logo-circle {
			    	width:70px;
			    	height:70px;
			    }
			}
		}
		.left {
			display: flex;
			justify-content: flex-end;
			.menu-btn {
				background-color: unset;
				color:$black;
				font-size:14px;
				text-transform: uppercase;
				border:none;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items:center;
				p {
					margin-bottom: 0;
				}
				&:hover {
					cursor:crosshair;
				}
				&:after {
					content:unset;
				}
				&:focus {
					outline: none;
					box-shadow:none;
					outline: unset !important;
				}
			}
			span {
				width:30px;
				height:30px;
				margin-left: 10px;
			}
			.dropdown-menu {
				background-color:$pink;
				border:unset;
				transform:translate3d(645px, 50px, 0px) !important;
				-webkit-animation: expand 5s infinite; /* Safari 4.0 - 8.0 */
				animation: expand 5s infinite;
				a.dropdown-item {
					font-family: $josefin;
					font-size: 20px;
					color: $black;
					text-transform:uppercase;
					letter-spacing: 0.5px;
					&:hover {
						background-color:$lightgrey;
						cursor:crosshair;
					}
				}
			}
		}
	}
	.scroll {
		position: absolute;
		transform:rotate(90deg);
		right:0;
		bottom:160px;
		p {
			color: $black;
			font-size:20px;
			&:after {
				content:"";
				width:100px;
				height:2px;
				background-color:$black;
				position: absolute;
				top: 35%;
				right: -140%;
			}
		} 
	}
	.header-image {
		background-image:url('../../assets/header-image.jpg');
		background-repeat: no-repeat;
		max-width: 850px;
		height: 600px;
	    background-attachment: fixed;
	    margin: 0 auto;
	    position: relative;
	    transition:all 1s;
	    h1 {
	    	position: absolute;
	    	top: -22%;
	    	left: 0%;
    	    font-size: 50px;
    	    width: 60%;
    	    font-weight: 200;
    	    margin: 0 auto;
    	    transition:all 1s;
    	    &:before {
    	    	content: "";
	    	    position: absolute;
	    	    background-color: black;
	    	    width: 100px;
	    	    height: 5px;
	    	    left: -110px;
	    	    top: 26%;
    	    }
	    }
	}
}

.portfolio-section {
	padding:50px 0;
	max-width: 1390px;
	margin:0 auto;
	.portfolio-header {
		font-size: 18px;
		color: $black;
		font-family: $josefin;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: center;
		position: relative;
		margin:50px 0 90px 0;
		&:after {
			content: "";
			width: 150px;
			height: 2px;
			background-color: $black;
			color: $black;
			position: absolute;
			bottom: -20px;
    		left: 50%;
    		transform: translate(-50%);
		}
	}
	.portfolio-content {
		display: flex;
		justify-content: center;
		width:100%;
		padding:0;
		.portfolio-item {
			height:100vh;
			background-size: cover;
			background-position: center center;
			max-width: 330px;
			width:100%;
			height: 235px;
			display:flex;
			margin:0 2px;
			align-items: flex-end;
			filter:sepia(30%);
			.portfolio-info {
				width:100%;
				background-color: #121212;
				opacity: 0.9;
				width:100%;
				justify-content: center;
				flex-direction: column;
				display: flex;
				height:100px;
				display:none;
			}
			.portfolio-info h3, .portfolio-info p {
				font-size:16px;
				color: $white;
				margin:0;
			}
			.portfolio-info p {
				text-transform: lowercase;
				padding:0 5px 0 15px;
			}
			.portfolio-info h3 {
				padding:10px 5px 0 15px;
				text-transform: uppercase;
			}
			&:first-of-type {
				background-image: url('../../assets/knix.jpg');
				&:hover {
					.portfolio-info {
						display: flex;
					}
				}
			}
			&:nth-child(2) {
				background-image: url('../../assets/knixteen.jpg');
				&:hover {
					.portfolio-info {
						display: flex;
					}
				}
			}
			&:nth-child(3) {
				background-image: url('../../assets/apollo.jpg');
				&:hover {
					.portfolio-info {
						display: flex;
					}
				}
			}
			&:nth-of-type(4) {
				background-image: url('../../assets/mias.jpg');
				&:hover {
					.portfolio-info {
						display: flex;
					}
				}
			}
			&:nth-child(5) {
				background-image: url('../../assets/makeup.jpg');
				&:hover {
					.portfolio-info {
						display: flex;
					}
				}
			}
		}
	}
}


.contact-section {
	.contact-wrapper {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		max-width: 770px;
		min-height: 225px;
		border:10px solid $pink;
		flex-direction: column;
		margin: 50px auto;
		.contact-title {
			font-size: 18px;
			color: $black;
			font-family: $josefin;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			text-align: center;
			position: relative;
			margin:10px 0;
			&:after {
				content: "";
				width: 150px;
				height: 2px;
				background-color: $black;
				color: $black;
				position: absolute;
				bottom: -20px;
				left: 50%;
				transform: translate(-50%);
			}
		}
		.contact-email {
			margin-top: 23px;
    		color: black;
			font-size: 20px;
			position:relative;
			&:hover {
				text-decoration: none;
			}
			.contact-underline {
				position: absolute;
				background-color: transparent;
				padding:0;
				font-size: 0;
				transition:all 1s;
				color: $white;
			}
			&:hover {
				.contact-underline{
					position: absolute;
					width: 200px;
					width: 100%;
					height: 1px;
					justify-content: center;
					background-color: $black;
					top: 100%;
				}
			}
		}
	}
}