@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Crimson+Text");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes expand {
  0% {
    right: 0; }
  50% {
    right: 50%; }
  100% {
    right: 100; } }

@-webkit-keyframes nod {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); } }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; }

.services-wrapper {
  padding: 50px 0; }
  .services-wrapper .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1400px;
    margin: 0 auto; }
    .services-wrapper .services .left {
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-image: url("../../assets/services-bg.jpg");
      min-height: 656px;
      max-width: 700px; }
      .services-wrapper .services .left .services-title {
        font-size: 18px;
        color: #000;
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 200px;
        height: 140px;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        letter-spacing: 1.5px; }
        .services-wrapper .services .left .services-title:after {
          content: "";
          width: 70px;
          height: 2px;
          background-color: #000;
          color: #000;
          position: absolute;
          bottom: 38px; }
    .services-wrapper .services .right .service-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 50px 65px; }
      .services-wrapper .services .right .service-item .icon-wrapper {
        margin-right: 20px;
        border: 1px solid #ed879f;
        padding: 20px; }
        .services-wrapper .services .right .service-item .icon-wrapper .fas {
          font-size: 25px; }
      .services-wrapper .services .right .service-item .service-name h2 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 24px;
        color: #000;
        font-weight: 300; }

@media (max-width: 991.98px) {
  .services-wrapper {
    padding: 50px 0 0; }
    .services-wrapper .services {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .services-wrapper .services .left {
        min-height: 255px;
        max-width: 420px; }
      .services-wrapper .services .right .service-item {
        margin: 30px auto; }
        .services-wrapper .services .right .service-item .icon-wrapper {
          border: 1px solid #7BBF6A; }
        .services-wrapper .services .right .service-item .service-name h2 {
          font-size: 18px; } }

.skills-section {
  margin: 50px 0;
  background-color: #FAE2E2;
  padding: 50px 0; }
  .skills-section h2 {
    font-size: 18px;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 50px;
    position: relative; }
    .skills-section h2:after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #000;
      color: #000;
      position: absolute;
      bottom: -20px;
      left: 50%;
      -webkit-transform: translate(-50%);
      transform: translate(-50%); }
  .skills-section .skills-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .skills-section .skills-content .skills {
      background-size: cover;
      min-height: 300px;
      border-radius: 50%;
      max-width: 300px;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .skills-section .skills-content .skills.left {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-right: 100px; }
      .skills-section .skills-content .skills.right {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-left: 100px; }
      .skills-section .skills-content .skills.middle {
        background-image: url(../../assets/portfolio-pic.jpg);
        background-size: 100vh;
        max-width: 300px;
        background-size: cover;
        background-position: right; }

@media (max-width: 767.98px) {
  .skills-section {
    margin: 50px 0 0;
    background-color: #7BBF6A; }
    .skills-section .skills-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .skills-section .skills-content .skills.left, .skills-section .skills-content .skills.right {
        margin: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 18px; }
      .skills-section .skills-content .skills.middle {
        display: none; } }

.about-wrapper {
  padding: 50px 0; }
  .about-wrapper .about-content {
    margin: 0 auto;
    max-width: 975px;
    text-align: center; }
    .about-wrapper .about-content .about-header, .about-wrapper .about-content .about-bg {
      font-family: "Josefin Sans", sans-serif; }
    .about-wrapper .about-content .about-header.small {
      font-size: 16px;
      color: #F68C9D;
      text-transform: uppercase;
      line-height: 24px;
      margin-right: 10px; }
    .about-wrapper .about-content .about-header.big {
      font-size: 30px;
      color: #000;
      text-transform: uppercase;
      line-height: 36px;
      letter-spacing: 10px; }
    .about-wrapper .about-content .about-bg {
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: #000;
      padding: 10px 60px 8px; }
      .about-wrapper .about-content .about-bg span.f {
        position: relative; }
        .about-wrapper .about-content .about-bg span.f:before {
          content: "";
          position: absolute;
          background: #000;
          height: 3px;
          width: 100px;
          left: -120px;
          top: 40%; }
      .about-wrapper .about-content .about-bg span.r {
        position: relative; }
        .about-wrapper .about-content .about-bg span.r:before {
          content: "";
          position: absolute;
          background: #000;
          height: 3px;
          width: 100px;
          right: -120px;
          top: 40%; }
    .about-wrapper .about-content .about-me {
      margin: 0 auto;
      padding: 0; }
      .about-wrapper .about-content .about-me .about-text {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        font-family: "Josefin Sans", sans-serif;
        margin: 0 auto; }
        .about-wrapper .about-content .about-me .about-text:first-of-type {
          margin-top: 40px;
          margin-bottom: 20px; }
  .about-wrapper .about-social-container {
    min-height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FAE2E2;
    max-width: 1390px;
    width: 100%;
    margin: 50px auto 0;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 2s !important;
    transition: all 2s !important;
    position: relative; }
    .about-wrapper .about-social-container .skills-header {
      text-transform: uppercase;
      font-size: 18px;
      color: #000; }
      .about-wrapper .about-social-container .skills-header h2 {
        font-size: 18px;
        color: #000;
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-align: center;
        margin-bottom: 50px;
        position: relative; }
        .about-wrapper .about-social-container .skills-header h2:after {
          content: "";
          width: 50px;
          height: 2px;
          background-color: #000;
          position: absolute;
          bottom: -20px;
          left: 50%;
          -webkit-transform: translate(-50%);
          transform: translate(-50%); }
    .about-wrapper .about-social-container .skills-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .about-wrapper .about-social-container .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-transition: all 2s !important;
      transition: all 2s !important;
      padding: 0; }
      .about-wrapper .about-social-container .social .fab {
        color: #000;
        font-size: 45px; }
      .about-wrapper .about-social-container .social a {
        background-color: #fff;
        width: 110px;
        border-radius: 50%;
        height: 110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .about-wrapper .about-social-container .social a:hover {
          text-decoration: none; }
      .about-wrapper .about-social-container .social span {
        position: absolute;
        background-color: transparent;
        padding: 0;
        font-size: 0;
        -webkit-transition: all 1s;
        transition: all 1s;
        color: #000;
        border: #000; }
      .about-wrapper .about-social-container .social:hover span {
        position: absolute;
        background-color: #fff;
        padding: 10px 30px;
        font-size: 20px;
        border: 1px solid #000;
        top: 30%;
        color: #000; }

@media (max-width: 991.98px) {
  .about-wrapper {
    padding: 50px 0; }
    .about-wrapper .about-content .about-header.small {
      color: #000; }
    .about-wrapper .about-content .about-bg {
      color: #000;
      background-color: #7BBF6A;
      font-weight: 400; }
      .about-wrapper .about-content .about-bg span.f:before {
        width: 40px;
        left: -50px; }
      .about-wrapper .about-content .about-bg span.r:before {
        width: 40px;
        right: -50px; }
    .about-wrapper .about-content .about-me {
      max-width: unset;
      padding: 0 20px; }
    .about-wrapper .about-social-container {
      background: #7BBF6A;
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .about-wrapper .about-social-container:after {
        content: "contact me";
        position: absolute;
        font-size: 35px;
        color: #000;
        text-align: center;
        top: 15px;
        width: 100%;
        left: 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%);
        text-transform: capitalize;
        margin-bottom: 20px; }
      .about-wrapper .about-social-container .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-transition: all 2s !important;
        transition: all 2s !important;
        margin: 10px 0; }
        .about-wrapper .about-social-container .social:first-of-type {
          margin: 20px 0 10px 0; }
        .about-wrapper .about-social-container .social a {
          width: 150px;
          height: 150px; }
        .about-wrapper .about-social-container .social .fab {
          margin-top: -10px; }
        .about-wrapper .about-social-container .social span {
          font-size: 20px;
          bottom: 20px; }
        .about-wrapper .about-social-container .social:hover span {
          top: unset; } }

@media (max-width: 767.98px) {
  .about-wrapper .about-social-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-wrapper .about-social-container .about-me {
      max-width: 330px; }
    .about-wrapper .about-social-container .social:hover span {
      border: unset;
      padding: 0; }
    .about-wrapper .about-social-container .skills-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

header {
  padding: 0 0 100px 0;
  background: #fae2e2;
  background: linear-gradient(50deg, #FAE2E2 55%, #F2F2F2 50%);
  position: relative; }
  header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0 100px;
    margin-bottom: 50px; }
    header .header-nav .right .logo-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 70px;
      height: 70px;
      border: 3px solid #000;
      border-radius: 50%; }
      header .header-nav .right .logo-wrapper .logo-letter {
        font-size: 34px;
        font-weight: 400; }
      header .header-nav .right .logo-wrapper .logo-circle {
        width: 70px;
        height: 70px; }
    header .header-nav .left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header .header-nav .left .menu-btn {
        background-color: unset;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header-nav .left .menu-btn p {
          margin-bottom: 0; }
        header .header-nav .left .menu-btn:hover {
          cursor: crosshair; }
        header .header-nav .left .menu-btn:after {
          content: unset; }
        header .header-nav .left .menu-btn:focus {
          outline: none;
          -webkit-box-shadow: none;
                  box-shadow: none;
          outline: unset !important; }
      header .header-nav .left span {
        width: 30px;
        height: 30px;
        margin-left: 10px; }
      header .header-nav .left .menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .header-nav .left .menu a.menu-item {
          font-family: "Josefin Sans", sans-serif;
          font-size: 20px;
          font-weight: 400;
          margin: 0 20px;
          color: #000;
          text-transform: uppercase;
          letter-spacing: 0.5px; }
          header .header-nav .left .menu a.menu-item:hover {
            background-color: #F2F2F2;
            text-decoration: unset; }
  header .scroll {
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    right: 0;
    bottom: 160px; }
    header .scroll p {
      color: #000;
      font-size: 20px; }
      header .scroll p:after {
        content: "";
        width: 100px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 35%;
        right: -140%; }
  header .header-image {
    background-image: url("../../assets/header-image.jpg");
    background-repeat: no-repeat;
    max-width: 850px;
    height: 600px;
    background-attachment: fixed;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s; }
    header .header-image h1 {
      position: absolute;
      top: -22%;
      left: 0%;
      font-size: 50px;
      width: 60%;
      font-weight: 200;
      margin: 0 auto;
      -webkit-transition: all 1s;
      transition: all 1s; }
      header .header-image h1:before {
        content: "";
        position: absolute;
        background-color: #000;
        width: 100px;
        height: 5px;
        left: -110px;
        top: 26%; }

@media (max-width: 991.98px) {
  header {
    height: unset;
    background-color: #7BBF6A;
    padding: 0; }
    header .header-nav {
      padding: 20px 0;
      margin-bottom: 0;
      background-color: #7BBF6A;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header-nav .right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0 30px; }
        header .header-nav .right .logo-wrapper {
          padding: 0;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
      header .header-nav .left {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0; }
        header .header-nav .left .menu {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
          header .header-nav .left .menu a.menu-item {
            margin: 0 5px;
            font-size: 16px; }
            header .header-nav .left .menu a.menu-item:last-child {
              margin-right: 10px; }
    header .scroll {
      bottom: 240px; }
    header .header-image {
      background-image: none;
      height: 100vh;
      background-color: #7BBF6A; }
      header .header-image h1 {
        width: 65%;
        background-color: transparent;
        padding: 30px;
        font-size: 40px;
        border: none;
        top: 15%;
        color: #000;
        left: 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%); }
        header .header-image h1:before {
          content: none; } }

.portfolio-section {
  padding: 50px 0;
  width: 100%;
  margin: 0 auto; }
  .portfolio-section .portfolio-header {
    font-size: 18px;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    margin: 50px 0 90px 0; }
    .portfolio-section .portfolio-header:after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #000;
      color: #000;
      position: absolute;
      bottom: -20px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%); }
  .portfolio-section .portfolio-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0; }
    .portfolio-section .portfolio-content .portfolio-item {
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      max-width: 330px;
      width: 100%;
      min-height: 235px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 2px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-filter: sepia(30%);
              filter: sepia(30%); }
      .portfolio-section .portfolio-content .portfolio-item .portfolio-info {
        width: 100%;
        background-color: #121212;
        opacity: 0.9;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 200px;
        display: none;
        position: relative; }
        .portfolio-section .portfolio-content .portfolio-item .portfolio-info .portfolio-info-cta {
          position: absolute;
          bottom: 20px;
          margin-left: 20px; }
          .portfolio-section .portfolio-content .portfolio-item .portfolio-info .portfolio-info-cta a {
            color: #000;
            background-color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            text-transform: lowercase; }
        .portfolio-section .portfolio-content .portfolio-item .portfolio-info h3, .portfolio-section .portfolio-content .portfolio-item .portfolio-info p {
          font-size: 16px;
          color: #fff;
          margin-left: 20px;
          max-width: 300px; }
        .portfolio-section .portfolio-content .portfolio-item .portfolio-info h3 {
          text-transform: uppercase; }
        .portfolio-section .portfolio-content .portfolio-item .portfolio-info p {
          text-transform: lowercase;
          margin-bottom: 0; }
      .portfolio-section .portfolio-content .portfolio-item:first-of-type {
        background-image: url("../../assets/knix.jpg"); }
        .portfolio-section .portfolio-content .portfolio-item:first-of-type:hover .portfolio-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .portfolio-section .portfolio-content .portfolio-item:nth-child(2) {
        background-image: url("../../assets/knixteen.jpg"); }
        .portfolio-section .portfolio-content .portfolio-item:nth-child(2):hover .portfolio-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .portfolio-section .portfolio-content .portfolio-item:nth-child(3) {
        background-image: url("../../assets/apollo.jpg"); }
        .portfolio-section .portfolio-content .portfolio-item:nth-child(3):hover .portfolio-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .portfolio-section .portfolio-content .portfolio-item:nth-of-type(4) {
        background-image: url("../../assets/mias.jpg"); }
        .portfolio-section .portfolio-content .portfolio-item:nth-of-type(4):hover .portfolio-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .portfolio-section .portfolio-content .portfolio-item:nth-child(5) {
        background-image: url("../../assets/makeup.jpg"); }
        .portfolio-section .portfolio-content .portfolio-item:nth-child(5):hover .portfolio-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }

@media (max-width: 991.98px) {
  .portfolio-section {
    max-width: 100%;
    height: unset; }
    .portfolio-section .portfolio-header {
      margin: 0 0 50px 0; }
    .portfolio-section .portfolio-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .portfolio-section .portfolio-content .portfolio-item {
        -o-object-fit: cover;
           object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 300px;
        width: 100%;
        max-width: unset;
        position: relative;
        margin: 20px 0; }
        .portfolio-section .portfolio-content .portfolio-item .portfolio-info {
          height: 100%;
          width: 50%;
          padding: 0 20px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          position: absolute;
          right: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }

.contact-section .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 770px;
  min-height: 225px;
  border: 10px solid #FAE2E2;
  flex-direction: column;
  margin: 50px auto; }
  .contact-section .contact-wrapper .contact-title {
    font-size: 18px;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    margin: 10px 0; }
    .contact-section .contact-wrapper .contact-title:after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #000;
      color: #000;
      position: absolute;
      bottom: -20px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%); }
  .contact-section .contact-wrapper .contact-email {
    margin-top: 23px;
    color: black;
    font-size: 20px;
    position: relative; }
    .contact-section .contact-wrapper .contact-email .contact-underline {
      position: absolute;
      background-color: transparent;
      padding: 0;
      font-size: 0;
      -webkit-transition: all 1s;
      transition: all 1s;
      color: #fff; }
    .contact-section .contact-wrapper .contact-email:hover {
      text-decoration: none; }
      .contact-section .contact-wrapper .contact-email:hover .contact-underline {
        position: absolute;
        width: 200px;
        width: 100%;
        height: 1px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #000;
        top: 100%; }

@media (max-width: 991.98px) {
  .contact-section .contact-wrapper {
    max-width: 420px;
    margin: 0 auto;
    border: 10px solid #7BBF6A; }
    .contact-section .contact-wrapper .contact-email {
      -webkit-transition: 2s;
      transition: 2s; }
      .contact-section .contact-wrapper .contact-email:hover {
        text-transform: uppercase;
        font-size: 16px; }
        .contact-section .contact-wrapper .contact-email:hover .contact-underline {
          display: none; } }

footer {
  margin: 100px 0 0; }
  footer .footer-content {
    width: 100%;
    min-height: 300px;
    height: 100%;
    background-color: #FAE2E2;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-content .footer-top {
      margin-bottom: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 70px;
      height: 70px;
      border: 3px solid #000;
      border-radius: 50%; }
      footer .footer-content .footer-top .logo-letter {
        font-size: 34px;
        font-weight: 400; }
    footer .footer-content .footer-bottom {
      width: 100%;
      max-width: 430px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      footer .footer-content .footer-bottom a {
        color: #000;
        font-size: 18px;
        text-decoration: none;
        position: relative; }
        footer .footer-content .footer-bottom a:hover {
          -webkit-transition: all 3s ease;
          transition: all 3s ease; }
        footer .footer-content .footer-bottom a:after {
          -webkit-transition: all 3s ease;
          transition: all 3s ease; }
        footer .footer-content .footer-bottom a:hover:after {
          content: "";
          position: absolute;
          width: 100%;
          -webkit-transform: translate(-50%);
                  transform: translate(-50%);
          left: 50%;
          height: 2px;
          background-color: #000; }

@media (max-width: 991.98px) {
  footer {
    margin: 50px 0 0 0; }
    footer .footer-content {
      width: 100%;
      min-width: 320px;
      background-color: #7BBF6A; }
      footer .footer-content .footer-bottom {
        max-width: 330px; }
        footer .footer-content .footer-bottom .social-container a {
          -webkit-transition: 3s;
          transition: 3s; }
          footer .footer-content .footer-bottom .social-container a:hover {
            text-decoration: underline; }
            footer .footer-content .footer-bottom .social-container a:hover:after {
              content: unset; } }
