@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.services-wrapper .services .services-left-image {
  background-image: url("../../assets/services-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  min-height: 655px; }
  .services-wrapper .services .services-left-image:after {
    content: "I offer";
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #000; }

@-webkit-keyframes expand {
  0% {
    right: 0; }
  50% {
    right: 50%; }
  100% {
    right: 100; } }

@-webkit-keyframes nod {
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

body {
  cursor: crosshair; }

.skills-section .skills-wrapper {
  background-color: #FAE2E2;
  margin: 0 auto;
  max-width: 1390px;
  width: 100%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }
  .skills-section .skills-wrapper .skill-col.animate {
    position: absolute;
    right: 0px;
    top: 20%;
    -webkit-animation: nod 5s infinite;
            animation: nod 5s infinite; }
  .skills-section .skills-wrapper .skill-col .skill-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    padding-top: 2%;
    border: none;
    margin: 20px;
    text-align: center; }
    .skills-section .skills-wrapper .skill-col .skill-item.animated {
      -webkit-animation: nod 4s ease;
              animation: nod 4s ease; }
    .skills-section .skills-wrapper .skill-col .skill-item span {
      height: 70px; }
      .skills-section .skills-wrapper .skill-col .skill-item span img {
        width: 70px;
        height: 70px; }

.about-wrapper {
  padding: 100px 138px; }
  .about-wrapper .about-content {
    margin: 0 auto;
    max-width: 975px;
    text-align: center; }
    .about-wrapper .about-content .about-header, .about-wrapper .about-content .about-bg {
      font-family: "Josefin Sans", sans-serif; }
    .about-wrapper .about-content .about-header.small {
      font-size: 16px;
      color: #F68C9D;
      text-transform: uppercase;
      line-height: 24px;
      margin-right: 10px; }
    .about-wrapper .about-content .about-header.big {
      font-size: 30px;
      color: #000;
      text-transform: uppercase;
      line-height: 36px;
      letter-spacing: 10px; }
    .about-wrapper .about-content .about-bg {
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: #000;
      padding: 10px 60px 8px; }
      .about-wrapper .about-content .about-bg span.f {
        position: relative; }
        .about-wrapper .about-content .about-bg span.f:before {
          content: "";
          position: absolute;
          background: #000;
          height: 3px;
          width: 100px;
          left: -120px;
          top: 40%; }
      .about-wrapper .about-content .about-bg span.r {
        position: relative; }
        .about-wrapper .about-content .about-bg span.r:before {
          content: "";
          position: absolute;
          background: #000;
          height: 3px;
          width: 100px;
          right: -120px;
          top: 40%; }
    .about-wrapper .about-content .about-me {
      margin: 0 auto;
      padding: 0; }
      .about-wrapper .about-content .about-me .about-text {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        font-family: "Josefin Sans", sans-serif;
        margin: 0 auto; }
        .about-wrapper .about-content .about-me .about-text:first-of-type {
          margin-top: 40px;
          margin-bottom: 20px; }
  .about-wrapper .about-images-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px; }
    .about-wrapper .about-images-container .about-image {
      width: 110px;
      height: 110px;
      margin: 0 2px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      position: relative; }
      .about-wrapper .about-images-container .about-image:hover {
        width: 130px;
        height: 130px;
        background-size: cover; }
      .about-wrapper .about-images-container .about-image:first-of-type {
        background-image: url("../../assets/icon-1.jpg"); }
        .about-wrapper .about-images-container .about-image:first-of-type:hover {
          background-image: url("../../assets/bg-1.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(2) {
        background-image: url("../../assets/icon-2.jpg"); }
        .about-wrapper .about-images-container .about-image:nth-child(2):hover {
          background-image: url("../../assets/bg-2.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(3) {
        background-image: url("../../assets/icon-3.jpg"); }
        .about-wrapper .about-images-container .about-image:nth-child(3):hover {
          background-image: url("../../assets/bg-3.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(4) {
        background-image: url("../../assets/icon-4.jpg"); }
        .about-wrapper .about-images-container .about-image:nth-child(4):hover {
          background-image: url("../../assets/bg-4.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(5) {
        background-image: url("../../assets/icon-5.jpg"); }
        .about-wrapper .about-images-container .about-image:nth-child(5):hover {
          background-image: url("../../assets/bg-5.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(6) {
        background-image: url("../../assets/icon-6.jpg"); }
        .about-wrapper .about-images-container .about-image:nth-child(6):hover {
          background-image: url("../../assets/bg-6.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(7) {
        background-image: url("../../assets/icon-7.jpg"); }
        .about-wrapper .about-images-container .about-image:nth-child(7):hover {
          background-image: url("../../assets/bg-7.jpg"); }
      .about-wrapper .about-images-container .about-image:nth-child(2), .about-wrapper .about-images-container .about-image:nth-child(4), .about-wrapper .about-images-container .about-image:nth-child(6) {
        background-size: cover; }
      .about-wrapper .about-images-container .about-image:nth-child(1), .about-wrapper .about-images-container .about-image:nth-child(3), .about-wrapper .about-images-container .about-image:nth-child(5), .about-wrapper .about-images-container .about-image:nth-child(7) {
        background-size: contain; }

header {
  height: 100vh;
  background: #fae2e2;
  background: linear-gradient(50deg, #FAE2E2 55%, #F2F2F2 50%);
  position: relative; }
  header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px 0 100px;
    margin-bottom: 50px; }
    header .header-nav .right .logo-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
      header .header-nav .right .logo-wrapper .logo-letter {
        position: absolute;
        top: 15%;
        font-size: 34px;
        font-weight: 400; }
      header .header-nav .right .logo-wrapper .logo-circle {
        width: 70px;
        height: 70px; }
    header .header-nav .left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      header .header-nav .left .menu-btn {
        background-color: unset;
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header-nav .left .menu-btn p {
          margin-bottom: 0; }
        header .header-nav .left .menu-btn:hover {
          cursor: crosshair; }
        header .header-nav .left .menu-btn:after {
          content: unset; }
        header .header-nav .left .menu-btn:focus {
          outline: none;
          -webkit-box-shadow: none;
                  box-shadow: none;
          outline: unset !important; }
      header .header-nav .left span {
        width: 30px;
        height: 30px;
        margin-left: 10px; }
      header .header-nav .left .dropdown-menu {
        background-color: #FAE2E2;
        border: unset;
        -webkit-transform: translate3d(645px, 50px, 0px) !important;
                transform: translate3d(645px, 50px, 0px) !important;
        -webkit-animation: expand 5s infinite;
        /* Safari 4.0 - 8.0 */
        animation: expand 5s infinite; }
        header .header-nav .left .dropdown-menu a.dropdown-item {
          font-family: "Josefin Sans", sans-serif;
          font-size: 20px;
          color: #000;
          text-transform: uppercase;
          letter-spacing: 0.5px; }
          header .header-nav .left .dropdown-menu a.dropdown-item:hover {
            background-color: #F2F2F2;
            cursor: crosshair; }
  header .scroll {
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    right: 0;
    bottom: 160px; }
    header .scroll p {
      color: #000;
      font-size: 20px; }
      header .scroll p:after {
        content: "";
        width: 100px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 35%;
        right: -140%; }
  header .header-image {
    background-image: url("../../assets/header-image.jpg");
    background-repeat: no-repeat;
    max-width: 850px;
    height: 600px;
    background-attachment: fixed;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s; }
    header .header-image h1 {
      position: absolute;
      top: -22%;
      left: 0%;
      font-size: 50px;
      width: 60%;
      font-weight: 200;
      margin: 0 auto;
      -webkit-transition: all 1s;
      transition: all 1s; }
      header .header-image h1:before {
        content: "";
        position: absolute;
        background-color: black;
        width: 100px;
        height: 5px;
        left: -110px;
        top: 26%; }
